<div class="main-content">
    <div class="header-content sub-main-content">
        <div class="emp-details-text">
            Employee Details
            <div class="emp-count">10</div>



        </div>
        <div onclick="location.href='addemployee'" class="add-button">
            <div class="plus-icon">
                <img class = "logo" src="../assets/logo.jpg" alt="Add user logo"/>
            </div>
            <div>Add User</div>
        </div>
    </div>
    <div class="table-main">
        <table id="display" class="table">
            <tr style=" background: #112538 0% 0% no-repeat padding-box;;">
                <th></th>
                <th style="color: #ffffff">Name</th>
                <th style="color: #ffffff">Gender</th>
                <th style="color: #ffffff">Department</th>
                <th style="color: #ffffff">Salary</th>
                <th style="color: #ffffff">StartDate</th>
                <th style="color: #ffffff">Actions</th>
            </tr>
            <td>
                <img class="profile" src="../assets/profilepic/Ellipse -1.png">

            </td>
           
            
            <td *ngFor="let employee of this.employee ">
             {{employee.name}}
            </td>
            <td>{{employee.Gender}}</td>
            <td>
                <div class="dept-label">{{employee.Department}}</div>
              
            </td>
            <td>{{employee.ChooseYourSalary}}</td>
            <td>{{employee.StartDate}}</td>
            <td>
                <img class="deleteicon" alt="delete" src="../assets/deleteicon.jpg">
                <img class="editicon" alt="edit" src="../assets/editicon.jpg">
            </td>
        </table>
    </div>
   
      
      
       <!-- <h2>{{employee.Name}}  {{employee.Gender}}  {{employee.Department}}       {{employee.ChooseYourSalary}}     {{employee.StartDate}}</h2>
        </li> -->

      <!-- </ul> -->
</div>